div.desk__sort-chip-dropdown {
  position: absolute;
  overflow: hidden;
}

.desk__chip-delete-icon {
  border-left: 1px solid var(--tag-border-color-hover)
}

.desk__filter-menu {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px 0 30px;
}

span.desk__chip {
  color: var(--tag-color);
  font-size: var(--tag-size);
  font-weight: bold;
  background-color: var(--tag-background);
  padding: 0 var(--tag-padding-x);
  border: var(--tag-border-width) solid var(--tag-border-color);
  border-radius: var(--tag-radius);
  display: inline-flex;
  line-height: var(--input-height);
  row-gap: var(--size-4-1);
  align-items: center;
  width: 108%;
  margin-right: 16px;
  right: 25px;
  position: relative;
}

span.desk__chip .desk__chip-label {
  width: inherit;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

span.desk__chip.reversed {
  text-decoration: line-through;
  filter: saturate(0.2)
}

span.desk__chip.empty {
  background-color: none;
}

span.desk__chip a {
  text-decoration: none;
}

span.desk__chip:hover {
  color: var(--tag-color-hover);
  background-color: var(--tag-background-hover);
  border-color: var(--tag-border-color-hover);
}

span.desk__chip .desk__chip-icon {
  width: var(--tag-size);
  height: var(--tag-size);
  margin-left: 5px;
  transform: scale(1.5);
}
